@tailwind base;
@tailwind components;
@tailwind utilities;


/* For hiding the scrollbar but keeping scroll functionality */
.element {
    overflow: scroll;
    -ms-overflow-style: none;  /* For Internet Explorer 10+ */
    scrollbar-width: none;     /* For Firefox */
  }
  
  .element::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, Edge */
  }
  